<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar de Prestador</title>
    <link rel="stylesheet" href="/static/css/styles-cadastro.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/workes.ico')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<header class="site-header">
    <div class="header-content">
        <h2 style="color:white;">Cadastro de Prestador</h2>
        <a href="{{ url_for('index') }}" style="color:white; text-decoration:none;">Voltar</a>

    </div>
</header>

<main class="form-container">
    <h3 class="titulo-cadastro-prestador">Informe as seguintes informações para concluir o cadastro:</h3>
    <form method="POST" class="caixinha" style="max-width:600px; flex-direction: column;">
        <input type="text" name="nome" placeholder="Nome do serviço" required>
        <input type="text" name="local" placeholder="Local" required>        <label>Telefone:</label>
        <input type="text" name="telefone">
        <label>Link (site, instagram, whatsapp):</label>
        <input type="text" name="link">

        <textarea name="descricao" placeholder="Descrição" required></textarea>
        <button style="border-radius:10px;" type="submit">Cadastrar</button>
    </form>

    {% if sucesso %}
    <div id="modal-sucesso" class="modal-overlay">
        <div class="modal-content">
            <span class="close-button" onclick="document.getElementById('modal-sucesso').style.display='none'">&times;</span>
            <div class="icon-check">✅</div>
            <h2>Sucesso!</h2>
            <p>{{ sucesso }}</p>
            <button class="btn-ok" onclick="document.getElementById('modal-sucesso').style.display='none'">OK</button>
        </div>
    </div>
    {% endif %}
    <script>
        const modal = document.getElementById('modal-sucesso');
        if (modal) {
            setTimeout(() => {
                modal.style.display = 'none';
            }, 3000);
        }
    </script>
</main>

</body>
</html>
