<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Entrar</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/workes.ico')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-login">
    <div class="logo-login">
        <img src="{{ url_for('static', filename='img/workes.png') }}" alt="logo" width="60" height="60"/>
    </div>

    <div class="titulo-login">
        <h2>Bem vindo!</h2>
        <p>Para prosseguir, informe seus dados:</p>
    </div>

    <div class="form-login">

        <form method="POST">
            <div class="email">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required />
            </div>

            <div class="senha">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required />
            </div>

            {% if erro %}
                <p style="color:red; margin-top:15px; text-align:center;">{{ erro }}</p>
            {% endif %}

            <div class="botao">
                <input type="submit" value="Entrar" id="botao"/>
            </div>
            <p style="margin-bottom:20px;"> Não tem conta?<a href="{{ url_for('registrar') }}">Criar conta</a></p>
        </form>

    </div>
</div>
</body>
</html>
